* {
  margin: 0px;
  padding: 0px;
}
/* shared style start */
.text-center {
  text-align: center;
}
.primary-btn {
  color: #0d1321;
  border: 1px solid #0d1321;
  padding: 18px;
  border-radius: 3px;
}
/* shared style end  */
/* nav styles start */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}

.navbar > h3 {
  color: #0d1321;
}

.nav-btn {
  background-color: white;
  padding: 10px;
  border: 1px solid rgba(13, 19, 33, 1);
  border-radius: 5px;
}
/* nav styles end */

/* become a developer banner section style start */

.banner-data {
  background-image: url(./images/Hero-bg.png);
  margin: 20px;
  padding: 80px;
  text-align: center;
}
.banner-datas > p {
  columns: #0d1321;
  padding: 20px;
}
.banner-btn {
  background-color: #0d1321;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
}
/* become a developer banner section style end  */

/* why web devlopment section style start */

.why-dev-section {
  margin-top: 40px;
}
.why-dev-datas > h1 {
  margin: 20px;
}
/* <!-- why web-dev cards style start --> */

.why-dev-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  margin-right: 80px;
  margin-left: 80px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 3px 20px 0px rgba(54, 53, 53, 0.651);
}

.why-dev-card-datas > h1 {
  margin-bottom: 20px;
}
.why-dev-card-datas > p {
  margin-bottom: 20px;
}

/* <!-- why web-dev cards style end --> */

/* why web devlopment section style end */

/* <!-- My Inspiration section starts --> */

.inspiration-section {
  margin-top: 20px;
}
.inspiration-section h1 {
  margin-bottom: 10px;
}
.inspiration-video {
  background-color: rgba(154, 202, 235, 0.363);
  border: 1px solid #dbe1ee;
  border-radius: 10px;
  margin: 50px;
  padding: 50px;
}

/* <!-- My Inspiration section style end --> */
/* my current target section style start */
.current-target {
  margin-bottom: 40px;
}
.current-target h1 {
  margin-bottom: 20px;
}
.current-target-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
  padding: 40px;
}
.current-cards-data {
  margin-bottom: 20px;
  padding: 20px;
}
.current-cards-data img {
  margin-bottom: 20px;
}
.current-cards-data h3 {
  margin-bottom: 10px;
  font-size: bold;
}
.current-cards-data p {
  margin-bottom: 20px;
}
.current-cards-data a {
  font-size: larger;
  color: #0d1321;
}
.html {
  border-radius: 6px;
  background-color: #e6d1cd;
}
.css {
  border-radius: 6px;
  background-color: rgb(124, 124, 173);
}
.js {
  border-radius: 6px;
  background-color: rgb(177, 223, 159);
}
/* <!-- my current target  section style end  --> */

/* <!-- support section style start  --> */
.support-container {
  background-image: url(./images/handshake.jpg);
  margin: 20px;
  padding: 80px;
  text-align: center;
  border-radius: 10px;
  height: 200px;
}
.support-container h1 {
    margin-bottom: 20px;
}
.support-container  p{
    margin-bottom: 20px;
}
.support-input {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
}
.support-btn {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: bold;
    
}
/* <!-- support section style end  --> */

/* footter style start  */

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 30px;
  
}




/* footter style end */